.filter_pane > ul {
    display: flex;
    margin-top: 1rem;
    width: fit-content;
    margin: 8px;
}

.filter_pane > ul li {
    border: 1px solid black;
    padding: 16px 40px;
}

.filter_pane > ul > li:nth-child(1) {
    background-color: black;
    color: white;
}

.filter_pane {
    margin-top: 3px;
    background-color: rgb(230, 229, 229);
}
