.search_panel {
 display: flex;
 border-bottom: 2px solid;
}

.search_input {
    display: flex;
    flex: 1;
    align-items: center;
}

.search_input input {
    flex: 1;
    background-color: transparent;
}

.dropdown,
.search_input,
.image_search {
  border: 1px solid black;
  padding: 16px;
}

.image_search {
    display: flex;
}

.dropdown {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.category {
    display: flex;
    align-items: center;
}

@media (max-width: 767px) { 
    .search_panel {
        flex-direction: column;
    }
}
