.masonry { 
    display: flex;
    flex-flow: row wrap;
    /* width: 100%; */
    margin: 10px;
  }
  
  .masonry-brick {
    position: relative;
    flex: auto;
    height: 250px;
    min-width: 150px;
    margin: 0 8px 8px 0;
  }

  .image {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }

  .masonry-brick .name {
    transform-origin: bottom;
    transform: scaleY(0);
    transition: transform 0.3s ease;
  }

  .masonry-brick:hover .name {
    transform: scaleY(1);
  }

  .masonry-brick .icon_list {
    height: 0;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    gap: .25rem;
    margin: 1rem;
    display: flex;
    width: fit-content;
    transition: all .3s ease;
  }

  .masonry-brick:hover .icon_list {
    height: 3rem;
  }

  .masonry-brick .icon_list .icon:hover {
    background-color: rgb(80, 165, 80);
  }