@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

nav > ul > li {
    padding: 5px 10px;
    display: flex;
    gap: .25rem;
}

nav > ul > li:nth-last-child(1) {
    border: 1px solid white;
    border-radius: 5px;
}
